body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSIe8R29z4AqUHPcvsN8CweRSDJy-uP3t9YUWoe93g89fYBgaA);
    text-align: center;
}

h3 {
    margin-bottom: 95px;
    font-family: 'Racing Sans One', cursive;
    color: rgba(0, 0, 0, 0.842);
}

h2,
#time-remaining,
#question,
#results {
    text-align: center;
    font-family: 'Racing Sans One', cursive;
    color: rgba(0, 0, 0, 0.842);
}

.container {
    height: 140px;
}

#start-btn {
    color: rgba(0, 0, 0, 0.842);
    background-color: green;
    font-family: 'Racing Sans One', cursive;
}

#results {
    margin-top: -15px;
}

.option {
    margin: 20px;
}